body{
    margin: 0;
    background-image: url('img/bg.jpg'); 
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
}

.msg{
  border: 3px solid #8d288e;
  border-radius: 5px; 
  padding: 10px;
  text-align: center;
  color: white;
}

h1{
    font-family: 'Bungee Shade';
    text-align:  center;
    color: white;
    font-size: 100px;
    margin-bottom: 0;
}

form{
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-left: 40%;
}
 label{
    font-size: 150%;    
    Color: white;
    font-family: 'Bangers';
 }

p{
    text-align: center;
    margin: 5px 0;
    color: white; 
    font-family: 'Bangers';
    font-size: 25px;

}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: #ff3131;
}

input{
    margin: 15px 0;
    padding: 20px;
    border: unset;
    border-bottom: 2px solid white;
    background: rgba(0, 0, 0, 0.5);
    Color: white;
    outline: none;
}

.but1 {
    background-color: #ff3131;
    text-align: center;
    color: white;
    border: none;
    font-size: 30px;
    display: inline-block;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    font-family: 'Bangers';
    padding: 15px 13px;
    margin: 15px 0;
    outline: none;
}

.but1 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .but1 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .but1:hover span {
    padding-right: 25px;
  }
  
  .but1:hover span:after {
    opacity: 1;
    right: 0;
  }

.but1:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  .but1:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }



 
