.changingpassword{
    display: flex;
    flex-direction: column;
    width: 25%;
    margin: 40px auto;
    border: 5px solid white;
    padding: 30px 36%;
}

label{
    font-size: 180%;    
    Color: white;
    font-family: 'Bangers';
 }

input{
    margin: 5px 0;
    padding: 15px;
    border: unset;
    border: 2px solid white;
    background: rgba(0, 0, 0, 0.5);
    Color: white;
    outline: none;
}

#button5{
    background-color: #0b162c;
    text-align: center;
    color: white;
    border: none;
    font-size: 30px;
    transition-duration: 0.4s;
    display: inline-block;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    font-family: 'Bangers';
    padding: 15px 15px;
    outline: none;
    margin-top: 10px;
}

#button5:hover{
    background: #fdc22a
}

.msg{
    border: 3px solid #fdc22a;
    border-radius: 5px; 
    padding: 10px;
    text-align: center;
    color: white;
    font-family: 'Bangers';
    font-size: 20px;
  }